@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
	color: white;
	font-family: "Roboto", sans-serif;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}

.speed-container {
	display: flex;
	align-items: center;
	width: 8rem;
	justify-content: space-between;
	margin-bottom: 20px;
}

button {
	border: none;
	background-color: #666;
	padding: .5rem .5rem;
	margin-bottom: 20px;
	width: 8rem;
	cursor: pointer;
	display: block;
}

.code {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100vw;
}

.cover {
	position: absolute;
	inset: 0;
	background-color: #333;
	display: grid;
	place-items: center;
	cursor: pointer;
}

.cover h1 {
	font-size: 8vw;
}

.container {
	display: flex;
	justify-content: space-between;
}

