@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.slider {
  width: 16rem !important;
}

.speed-container {
  display: flex;
  align-items: center;
  max-width: 16rem;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: #666;
  padding: .5rem .5rem;
  margin-bottom: 20px;
  width: 8rem;
  cursor: pointer;
  display: block;
}

button:hover {
  background-color: #888;
}

.code {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100vw;
}

.cover {
  position: absolute;
  inset: 0;
  background-color: #333;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 1000;
}

.cover img {
  max-width: 16rem;
  width: 100%;
}

.cover h1 {
  font-size: 8vw;
}

.container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
